<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="en-us">
  <base href="{global.baseUrl}" />
  <title>{head.title} | {global.appName}</title>
  <meta name="description" content="{head.description}">
  <link type="image/x-icon" rel="icon" href="favicon.ico">
  <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
  <link rel="stylesheet" type="text/css" href="public/app.css" />
</head>

<body class="{body.class}">

  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
      <ul class="navigation__list">
        <li class="loggedIn navigation__item"><a href="/phrases/manage" class="navigation__link">Manage phrases</a></li>
        <li class="loggedIn navigation__item"><a href="/phrases/train" class="navigation__link">Go training</a></li>
        <li class="loggedIn navigation__item" id="logoutButton"><a href="#" class="navigation__link">Logout</a></li>
        <li class="loggedOut navigation__item"><a href="/account/create" class="navigation__link">Sign Up</a></li>
        <li class="loggedOut navigation__item"><a href="/session/create" class="navigation__link">Log In</a></li>
      </ul>
    </nav>
  </div>