<div class="account-create">
  <form class="form" id="accountCreate" action="/api/users" method="POST">
    <div class="input__label">First Name</div>
    <input type="text" name="firstName" class="form__input" placeholder="Bohdan" />
    <div class="input__label">Last Name</div>
    <input type="text" name="lastName" class="form__input" placeholder="Oreiro" />
    <div class="input__label">Phone Number</div>
    <input type="text" name="phone" class="form__input" placeholder="*****" />
    <div class="input__label">Choose a Password</div>
    <input type="password" name="password" class="form__input" placeholder="Make it a good one!" />
    <button type="submit" class="btn btn--green">Create Account</button>
  </form>
</div>